/*
Main Elements in alle CSS of personal view are the same!:
	body,
	header, headerTitle,
	nav, nav-item, nav ul,
	main,
	footer, footer ul, footer-item
	@media
*/
@font-face {
    font-family: 'ivan2';
    src: url('/fonts/Borel-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
body {
    display: grid;
    grid-template-areas:
        "h h"
        "n m"
        "f f";
    grid-template-rows: minmax(64px, 128px) auto minmax(64px, 128px);
    grid-template-columns: minmax(64px, 192px) auto;
    background-image: linear-gradient(rgba(4,9,39,0.7),rgba(4,9,39,0.7)), url(/images/diaryBG.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family:'ivan2';
    color:#fff;
    min-height: 98vh;
}

header {
    grid-area: h;
    display:block;
    min-width: 15vh;
    justify-content: center;
    align-items: center;
    font-family:'ivan2';
    color:#fff;
    border: solid red 2px
}

.headerTitle {
    color: #fff;
    font-size: 50px;
    text-align: center;
}

nav {
    grid-area: n;
    min-width: 128px;
    max-width: 192px;
    border: solid green 2px;
    border-radius: 15px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;;
    margin: 10px;
    display: block;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: 'ivan2';
    font-size: 24px;
}
/* Styling for the navigation list */
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
/* Styling for each navigation item */
nav .nav-item a {
    display: block;
    padding: 30px;
    text-decoration: none; /* Removes underline */
    color: #fff; /* Text color */
    text-align: center; /* Centers text in the navigation link */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effect */
}
/* Hover effects for each navigation item */
.nav-item a:hover {
    background-color: aquamarine; /* Background color on hover */
    color: orange; /* Text color on hover */
    cursor: pointer; /* Changes cursor to pointer to indicate it's clickable */
}
#logo {
    max-height: 90px;  /* Adjust the height to fit your nav */
    width: auto;  /* Maintains the aspect ratio of the image */
    display: block;  /* Ensures the logo is properly aligned */
    margin: 0 auto;  /* Centers the logo in the list item */
    border-radius: 50%;
    object-fit: cover;
}

main {
    grid-area: m;
    display: block;
    justify-content: center;
    align-items: center;
    border: solid orange 2px;;     
    border-radius: 15px;           
    box-sizing: border-box;
    margin: 10px;
    margin-left: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    font-family: 'Courier New', Courier, monospace;
}

footer {
    grid-area: f;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
    color: #fff;
    border: solid yellow 2px;
    
}

footer ul {
    display: flex;
    justify-content: center;
    column-gap: 24px;
    list-style-type: none;
}

.footer-item a {
    color: white; /* Add text color */
    text-decoration: none; /* Remove underline */
    padding: 10px; /* Add padding */
}

@media (max-width: 600px) { /* Adjusts layout for screens smaller than 600px wide */
    body {
        grid-template-columns: 1fr; /* Makes nav and main stack vertically on smaller screens, */
        grid-template-areas:
            "h"
            "n"
            "m"
            "f";
        grid-template-rows: auto auto auto auto;
    }

     header, nav, main, footer {
        min-width: 150px; /* Allows the nav and main content to shrink below the initial min-width */
        width: 100%; /* Ensures nav and main take full width of the grid column */
    }

    nav{
        min-width: 100%;
        margin: 0;
    }
    main{
        margin: 0;
    }
    nav .nav-item a {
        display: block;
        
        padding: 5px;
        text-decoration: none; /* Removes underline */
        color: #fff; /* Text color */
        text-align: center; /* Centers text in the navigation link */
        transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effect */
    }
    nav {
        margin: 0px;
    }
}
/*
End Main Elements
*/
/*
Here startes the individual design of diary
*/