
@font-face {
    font-family: 'ivan2';
    src: url('/fonts/Borel-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

body {
    display: grid;
    grid-template-areas:
        "h h"
        "n m"
        "f f";
    grid-template-rows: minmax(64px, 128px) auto minmax(64px, 128px);
    grid-template-columns: 192px auto;
    height: 100vh;
    margin: 0;
    background-image: linear-gradient(rgba(4,9,39,0.7),rgba(4,9,39,0.7)), url(/images/diaryBG.png);
    background-position: center;
    background-size: cover;
    position: relative;
    font-family:'ivan2';
    color:#fff;
    
}

header {
    grid-area: h;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    font-family:'ivan2';
    color:#fff;
    
    /* todo: window expands the view, e.g. set size to 60px, it overexceeds the screen on top */
}

.headerTitle {
    color:#fff;
    font-size: 55px;
    text-align: center;
    margin-top: 10vh;

}



nav {
    grid-area: n;
    width: 192px;
    border:none;
    border-radius: 15px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: calc(100% - 20px);
    font-family: 'ivan2';
    font-size: 24px;
    
}

/* Styling for the navigation list */
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%; /* Adjust width to fill nav */
}

/* Styling for each navigation item */
nav .nav-item a {
    display: block;
    width: 69%; /* Adjust width to fill the parent container */
    padding: 30px;
    text-decoration: none; /* Removes underline */
    color: #fff; /* Text color */
    text-align: center; /* Centers text in the navigation link */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effect */
}

/* Hover effects for each navigation item */
.nav-item a:hover {
    background-color: aquamarine; /* Background color on hover */
    color: orange; /* Text color on hover */
    cursor: pointer; /* Changes cursor to pointer to indicate it's clickable */
}




#logo {
    max-height: 90px;  /* Adjust the height to fit your nav */
    width: auto;  /* Maintains the aspect ratio of the image */
    display: block;  /* Ensures the logo is properly aligned */
    margin: 0 auto;  /* Centers the logo in the list item */
    border-radius: 50%;
    object-fit: cover;
}


/*
nav {
    grid-area: n;
    width: 192px;
    height: auto;
    background-color: #fbe3d6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;       
    border-radius: 15px;           
    box-sizing: border-box; 
    margin: 10px;
    
    
}
nav ul {

    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 192px;
    height: 50%;
    
    overflow: auto;
}

nav .nav-item a {
    display: block;
    width: 170px;
    background-color: #000000;
    color: white; 
    text-decoration: none; 
    padding: 10px; 

.nav-item a:hover {
    background-color: aquamarine;
    color: orange;
}

*/


main {
    grid-area: m;
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    border: none;     
    border-radius: 15px;           
    box-sizing: border-box;
    margin: 10px;
    margin-left: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    font-family: 'Courier New', Courier, monospace;
}


#postContainer {
    width: 87%;
    height: 100%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items:center;
}

.post {
    width: 90%;
    background-color: #f0f2f5;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    border-radius: 10px;
}

.post h3 {
    color: #4a4a4a;
    font-family: 'ivan2';
}

.post p {
    color: #595959;
}

.post:hover {
    background-color: #dddddd; /* Background color on hover */
    color: orange; /* Text color on hover */
    cursor: pointer; /* Changes cursor to pointer to indicate it's clickable */

}
#addEntryButton {
    display: block;
    margin: 10px auto;
    padding: 8px 20px;
    font-size: 18px;
    font-family:'Courier New', Courier, monospace;
    cursor: pointer;
    background-color: aquamarine;
    color: black;
    border: none;
    border-radius: 12px;
    text-align: center;

}

#addEntryButton:hover {
    background-color: orange;
    color: white;
}

.positiveVoteButton, .negativeVoteButton , .deleteEntry {
    padding: 5px 15px;
    margin-left: 8px; /* Space between buttons */
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
}

.positiveVoteButton {
    background-color: #0084ff9f;
}

.positiveVoteButton:hover {
    background-color: #0051ff;
}

.negativeVoteButton {
    background-color: #f552529f;
}

.negativeVoteButton:hover {
    background-color: #ff0000;
}

.deleteEntry {
    background-color: #6a6a6a9f;
}

.deleteEntry:hover {
    background-color: #212121;
}

footer {
    grid-area: f;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
    color: #fff;
}

footer ul {
    display: flex;
    justify-content: center;
    column-gap: 24px;
    list-style-type: none;
}

.footer-item a {
    color: white; /* Add text color */
    text-decoration: none; /* Remove underline */
    padding: 10px; /* Add padding */
}

#diaryForm {
    padding: 20px;
    margin: 20px auto;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    background-color: #f9f9f9;
    width: 100vh;
}

#diaryForm input {
    width: 100vh;
    margin-top: 20px;
    padding: 10px;
    box-sizing: border-box; 
}

#diaryForm textarea {
    width: 100vh;
    margin-top: 20px;
    padding: 10px;
    box-sizing: border-box; 
}

#diaryForm button {
    padding: 10px 20px;
    margin-right: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background-color: #4CAF50;
    color: white;
}

#cancelButton {
    background-color: #f44336;
    color: white;
}

#submitButton:hover, #cancelBustton:hover {
    opacity: 0.8;
}