body {
    display: grid;
    grid-template-areas:
        "h h"
        "n m"
        "f f";
    grid-template-rows: minmax(64px, 128px) auto minmax(64px, 128px);
    grid-template-columns: 192px auto;
    height: 100vh;
    margin: 0;
    background-color: #fbe3d6;
}

header {
    grid-area: h;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4a48b;
}

nav {
    grid-area: n;
    width: 192px;
    height: 100%;
    background-color: #fbe3d6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;       
    border-radius: 15px;           
    box-sizing: border-box; 
}

main {
    grid-area: m;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    background-color: #fbe3d6;
}

footer {
    grid-area: f;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4a48b;
}

footer > ul {
    display: flex;
    justify-content: center;
    column-gap: 24px;
}
